/* MEDIUM */
/* MEDIUM END */
@media (max-width: 1250px)
	.cat-product
		width: 26.7%
@media (max-width: 1100px)
	.advantages-list
		justify-content: center

		li
			width: 33%

/* EXTRA SMALL-SMALL */
@media (max-width: 992px)
	.advantages-list
		justify-content: center
	.cat-product
		width: 43.36%

		li
			width: 50%
@media (max-width: 970px)
	.header-menu-line
		position: relative
	.header-menu-links,
	.catalog-links
		display: none
	.header-menu-links-wrap
		order: 3
	.cart-icon-wrap
		width: auto
	.header-menu-mobile-btn
		display: block
	
	.header-menu-links-wrap
		.header-menu-links
			box-sizing: border-box
			max-height: 0
			background: #fff
			position: absolute
			top: 0
			right: 6%
			left: 6%
			padding: 0px 50px 0px 39px
			overflow: hidden
			display: block
			opacity: 0
			transition: max-height 1s, opacity 0s 0.75s
			
			li
				margin: 37px 0
				&:first-child
					margin-top: 50px
				&:last-child
					margin-bottom: 70px
	.menu-open + .header-menu-links
		max-height: 200vh
		opacity: 1
		transition: max-height 1s, opacity 0s

@media (max-width: 768px)
	.geometria-heading
		font-size: 24px
		letter-spacing: 1.2px
	.geometria-small
		font-size: 14px
	p
		font-size: 14px
		letter-spacing: 0.7px
	.brand-slide-innner
		flex-direction: column
		padding-left: 0
	.brand-content
		width: 100%
		text-align: center
	.brand-img
		display: none
	.brand-content img
		display: block
		max-width: 100%

	.brand-show-more
		font-size: 17px
	.second-heading
		font-size: 24px
		letter-spacing: 1.2px
	.our-advantages
		text-align: center
	.heading
		font-size: 24px
	.article-name
		font-size: 18px
		letter-spacing: 0.9px
	.articles-list .article
		width: 44%
	.contact .city
		font-size: 18px
	.contact p
		font-size: 16px
	.breadcrumbs + .heading
		margin-top: 25px
	.catalog-description
		font-size: 18px
	.sub-cat-name
		font-size: 16px
	.cat-product-name
		font-size: 15px
	.cat-product-description
		font-size: 11.8px
	.cat-product-price,
	.cat-buy-btn
		font-size: 18px
	.cat-wrap
		flex-direction: column
	.catalog-filters
		width: 100%
	.sorting-form-desctop
		display: none
	.cat-content-wrap
		padding-left: 0
	.cat-product
		width: 26.7%

	/*soting forms and buttons*/
	.sorting-form-mobile
		display: block
	.sorting-form-desktop
		display: none
	.catalog-filters-holder
		position: absolute
		background: #fff
		width: 100%
		top: calc(100% + 2px)
		padding: 0 3%
		z-index: 11
		max-height: 0
		overflow: hidden
		transition: max-height .4s

		&.catalog-filters-open
			display: block
			border: solid 1px #666
			max-height: 200vh
			transition: max-height .4s
	.dropdown-filter:last-child
		margin-bottom: 35px
	.checkbox-filters
		margin-top: 35px
	.mob-buttons
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	.catalog-filters
		width: 100%
		flex-basis: auto

		.select-options
			width: 100%
			padding: 0 3%
			border: solid 1px #666
			top: calc(100% + 2px)

			li
				padding: 17px 0
				font-size: 16px
				&.active,
				&:hover
					color: $accent
				&:first-child
					padding-top: 48px
				&:last-child
					padding-bottom: 47px
		.select-styled
			display: none
	.mobileFiltersBtn,
	.mobileSortBtn
		display: block
		width: calc( 50% - 1px )
		background: #fff
		border: 1px solid #666
		padding: 12px 0
		text-align: center
		color: #666
		font-size: 14px
	.cat-content-wrap .pagination
		margin-top: 50px
		margin-bottom: 50px
		justify-content: center
		&:last-child
			margin-bottom: 10px


/* EXTRA SMALL-SMALL (0-768)*/

/* EXTRA SMALL */

@media (max-width: 512px)
	.header-icon-wrap
		font-size: 12px
	.nav-images
		flex-direction: column
	.nav-img-half-col
		width: 100%
	.brand-preview-slide:after,
	.brand-preview-slide:before
		display: none
	.brand-preview-slide.slick-current .brand-preview-slide-img-wrap:before
		display: none
	.advantages-list li
		flex-direction: column
	.phone-footer
		display: none
	.footer-main-inner
		justify-content: center
	.breadcrumbs a,
	.breadcrumbs li
		font-size: 12px
	.articles-list .article
		width: 94.8%
	.cat-product
		width: 43.36%
	.open-call-popup
		width: 55px

@media (min-width: 512px) and (max-width: 650px)
	.header-menu-line .logo-wrap
		width: 193px

@media (max-width: 650px)
	.header-icon-wrap:nth-child(3)
		margin-left: 0
	.login-search-row
		justify-content: space-between
	.header-menu-line .logo
		font-size: 30px

/* EXTRA SMALL END*/

/* EXTRA LARGE */
	
/* EXTRA LARGE END */