@import "normalize";
@import "fonts";
@import "vars";
@import "popup";

*,
*:before,
*:after
	box-sizing: border-box


body
	font-family: $font
	width: 100%
	color: #000
	font-size: 20px
	position: relative

button
	background: $accent
	border: none
	padding: 13px 19px
	font-family: $font
	font-size: 22px
	color: #fff
	cursor: pointer
input
	font-family: $font

.clearfix:after
	content: ""
	display: table
	clear: both

/* FIRST SCREEN STYLES */
#header-main
	position: relative
	border-bottom: 2px solid #3b3b3b
	z-index: 5
.login-search-row
	height: 40px
	background-color: #3b3b3b
	display: flex
	padding: 0 6%

.header-icon-wrap
	display: flex
	flex-direction: row
	align-items: center
	font-size: 18px
	color: #fff
	margin-left: 3%
	
	img, svg
		height: 28px
		width: auto

	&:nth-child(3)
		margin-left: auto
	&:nth-child(1)
		margin-left: 0

.header-tel
	text-decoration: none
	color: #fff
	outline: none
.header-menu-line 
	display: flex
	justify-content: space-between
	align-items: flex-end
	padding: 30px 6% 14px 6%
	
	a
		color: #000
		text-decoration: none
		outline: none
.logo-wrap
	max-height: 46px
.logo
	font-family: 'Megrim'
	font-size: 48px
	letter-spacing: 2.4px
	text-transform: uppercase

/* MOBILE MENU */
.header-menu-mobile-btn
	display: none
	width: 46px
	height: 40px
	position: relative
	z-index: 10

	&:after,
	&:before
		left: 0
		right: 0
	
	&:after,
	&:before,
	span:after
		content: ''
		display: block
		position: absolute
		width: 100%
		height: 2px
		background: #000
		transition: 0.25s all ease-out
		opacity: 1
	&:before
		top: 0
	&:after
		bottom: 0
	span
		display: block
		position: absolute
		width: 100%
		height: 2px
		background: #000
		top: calc( 50% - 1px)
		transition: 0.25s all ease-out
	span:after

	&.menu-open
		&:after,
		&:before
			opacity: 0
			right: 50%
			left: 50%
			width: 0
		span
			transform: rotate(-135deg) scaleX(1.2) scaleY(1)
		span:after
			transform: rotate(270deg) scaleX(1.2) scaleY(0.833)
		



/* MOBILE MENU */
.header-menu-links
	display: flex
	margin: 0
	
	li
		display: block
		list-style-type: none
		padding-left: 3%
	&:nth-child(1)
		padding-left: 0

.cart-icon-wrap
	width: 218px
	display: flex
	justify-content: flex-end
	height: 40px

	img, svg
		height: 40px
		vertical-align: bottom
.cart-quantity
	align-self: flex-end
	font-size: 24px

.nav-images
	display: flex
	/* height: calc(100vh - 155px) */
	/* height: 620px */
	a
		display: block

.nav-img-half-col
	width: 50%
	display: flex
	flex-direction: column

	img
		width: 100%
		height: 100%
		border-bottom: solid 2px #626262
		border-right: solid 2px #626262
		border-left: solid 2px #626262
.nav-img-half-row
	width: 100%
	display: flex
	height: 50%

	a
		width: 50%
.nav-img-half-row > img
	border-top: solid 2px #626262
/* HEADER DROPDOWN */
.header-drop-down
	position: absolute
	top: calc(100% + 2px)
	left: 0
	background: #f8f8f8
	opacity: 0.95
	width: 100%
	display: flex
	flex-wrap: wrap
	padding: 0 9.6% 33px 9.6%

	.drop-down-el
		padding: 33px 20px 0 20px
		font-size: 18px
		text-align: center
		flex-grow: 1

/* HEADER DROPDOWN END */
/* END FIRST SCREEN */
/* GENERAL */
.heading
	display: block
	margin: 0
	width: 100%
	font-family: $font2
	font-size: 36px
	font-weight: normal
	letter-spacing: 1.8px
	text-align: center
	color: #333
.geometria-heading
	margin: 0
	font-family: $fontm
	font-size: 30px
	font-weight: 500
	letter-spacing: 1.5px
	color: #333
.geometria-small
	margin: 15 0
	font-family: $font
	font-size: 16px
	letter-spacing: 0.9px
	color: #333333
	opacity: 0.8
p
	font-family: $font
	font-size: 18px
	letter-spacing: 1px
	color: #333
.brands
	padding: 60px 5.8% 30px 5.8%
	border-bottom: 2px solid #ebecec
	min-height: 100vh

	.geometria-heading
		margin-bottom: 13px
	.geometria-small
		margin-bottom: 20px
/* GENERAL END */
/* BRAND DESCRIPTION SLIDER*/
.brand-slide
	outline: none
.brand-slide-innner
	display: flex
	justify-content: space-between
	padding-left: 50px

.brand-content,
.brand-img
	width: 47%
.brand-content img
	display: none
.brand-show-more
	background-color: $accent
	font-family: $font
	font-size: 22px
	padding: 13px 30px
	text-align: center
	color: #fff
	box-shadow: none
	border: none
	outline: none
.brand-description
	height: 160px;
	overflow: hidden
/* BRAND DESCRIPTION SLIDER END*/
/* BRAND PREVIEW SLIDER */
.slider-arrow-prev,
.slider-arrow-next
	position: absolute
	bottom: calc(50% - 16px)
	width: 32px
	height: 32px
.slider-arrow-next
	right: 0
.slider-arrow-prev
	left: 0

	svg
		transform: rotate(180deg)
	    transform-origin: center center
	
.brand-preview-slider 
	padding: 0 50px 0 50px
	position: relative
	.slick-track
		display: flex
		align-items: center

.slick-initialized .slick-slide.brand-preview-slide
	display: flex
.brand-preview-slide
	justify-content: center
	align-items: center
	outline: none
	cursor: pointer

	&:before,
	&:after
		content: ''
		display: block
		width: 50%
		border-bottom: 2px solid #ebecec

.brand-preview-slide.slick-current .brand-preview-slide-img-wrap
	position: relative
	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		bottom: 50%
		right: -1px
		left: -1px
		border: 2px solid #ebecec
		border-bottom: none


.brand-preview-slide-img-wrap
	img
		height: auto

/* BRAND PREVIEW SLIDER END*/
/* MAIN PAGE TOP-SALES & SHARES SECTIONS */
.top-sales,
.shares
	padding: 60px 5.9%

	.heading
		margin-bottom: 50px
.shares
	padding-top: 0


	a
		display: block
		width: 100%
		position: relative
	.product-list-img-wrap:before
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		bottom: 50%
		right: 50%
		background: url(../img/Sale-Ribbon.png)
		background-size: 100%
		background-repeat: no-repeat



.product-list-img-wrap
	max-height: 262px
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	border: solid 2px #ebecec

	img
		max-height: 262px
		max-width: 100%
.product-list,
.product-list-row
	display: flex
	list-style: none
	color: #010101
	a
		text-decoration: none
		text-align: center
		outline: none

.product-list-row
	padding: 0 35px
	li
		padding: 0 15px
		outline: none

	a
		/*games of prices*/
		display: flex
		flex-direction: column
		height: 100%
		.product-list-price
			margin-top: auto



.product-list-name
	font-family: $fontm
	font-size: 18px
	font-weight: 500
	letter-spacing: 0.9px
	color: #333
	margin: 20px 0 0 0
.product-list-description
	font-size: 14px
	letter-spacing: 0.7px
	font-weight: normal
	color: #010101
	margin: 13px 0
.product-list-price
	color: $accent
	font-family: $fontm

/* MAIN PAGE TOP-SALES & SHARES SECTIONS END */
/* MAIN PAGE ADVANTAGES SECTION */
.our-advantages
	padding: 60px 5.9% 40px 5.9%
	background: url(../img/advantages/BG.png)
	.geometria-small
		margin-bottom: 22px
	& .second-heading:nth-child(4)
		margin-top: 40px
.second-heading
	font-family: $font
	font-size: 30px
	letter-spacing: 1.5px
	color: #333
	margin: 15px 0
.advantages-list
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	list-style: none
	margin: 0
	padding: 0
	width: 100%

	li
		display: flex
		align-items: center

	img, svg
		width: 47px
	
/* MAIN PAGE ADVANTAGES SECTION END */
/* FOOTER */
#footer-main a
	text-decoration: none
	outline: none
	color: #000
.footer-main-inner
	display: flex
	justify-content: space-between
	align-items: flex-end
	border-top: 2px solid #5b5b5b
	padding: 24px 5.9%


	.header-menu-links
		padding: 0
		margin: 0
	.logo-wrap
		height: 43px
.phone-footer
	width: 218px
	text-align: right
	display: flex
	justify-content: flex-end
	svg
		width: 24px
		height: 24px



/* FOOTER END */

.test-slider img
	width: 220px
	height: 220px

	.slick-track
		display: flex

	.slick-slide
		display: flex
		height: auto
		align-items: center
		justify-content: center

/* CALL POPUP */
.open-call-popup
	width: 75px
	height: auto
	position: fixed
	bottom: 4%
	right: 4%

#call-popup
	position: relative
	background: #FFF
	padding: 20px
	width:auto
	max-width: 700px
	margin: 20px auto
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	text-align: center

	form
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		width: 100%

	input, textarea
		width: 70%
		font-family: $font
		font-size: 16px
		padding: 9px 11px
		outline: none
		border: 2px solid #484848
		margin-bottom: 27px

	textarea
		resize: none

	p
		margin: 0
		font-size: 24px
		line-height: 1.5
		&:nth-child(2)
			margin-bottom: 27px

	.mfp-close
		font-size: 40px

.footer-main-technical
	width: 100%
/* CALL POPUP END */

/* CATALOG */

/* FIRST SCREEN */

.common-main
	width: 100%
	padding: 15px 5.8% 40px 5.8%
	min-height: 100vh

.catalog-links
	width: 100%
	display: flex
	flex-wrap: wrap
	padding: 0 9.6% 5px 9.6%

	.catalog-link
		padding: 33px 20px 0 20px
		font-size: 18px
		text-align: center
		flex-grow: 1

		a
			text-decoration: none
			color: #333
			outline: none

/* breadcrumbs */

.breadcrumbs
	display: block
	margin: 0
	padding: 0
	a, li
		font-family: $font
		font-size: 14px
		color: #666
		text-decoration: none

	li
		list-style: none
		display: inline

/* breadcrumbs end */

.catalog-description
	display: block
	width: 100%
	margin: 18px 0
	padding: 0
	font-family: "RobotoRegular"
	font-weight: 300
	font-style: normal
	font-stretch: normal
	font-size: 24px
	letter-spacing: 4.6px
	text-align: center
	color: #333333

.cat-wrap
	display: flex

/* FILTERS */

.sub-cat-name-wrap
	width: 100%
	border-bottom: 4px solid #2e7996
	margin-bottom: 20px

.sub-cat-name
	font-size: 24px
	font-weight: 500
	color: #2e7996
	letter-spacing: 1.2px

.sorting-form
	float: right
	font-family: $font
	font-size: 14px
	letter-spacing: 0.7px
	color: #666
	
	position: relative
	margin-top: 4px
	&:after
		content: ''
		display: block
		width: 15px
		height: 15px
		background: url(../img/sublist_arrow.svg)
		transform: rotate(90deg)
		position: absolute
		bottom: 3px
		right: 5px

	.select-hidden
		font-family: $font
		font-size: 14px
		letter-spacing: 0.7px
		padding: 3px 30px 3px 0

.select-hidden,
.hidden
	display: none

.select-styled
	user-select: none
	cursor: pointer
	padding: 3px 30px 3px 0
	background: #fff
	z-index: 10
	&.select-open
		border: 1px solid #666

.select-options
	cursor: pointer
	user-select: none
	display: none
	position: absolute
	top: 100%
	left: 0
	right: 0
	background: #fff
	line-height: 1.5
	border: 1px solid #666
	border-top: none
	margin: 0
	padding: 0
	list-style: none
	li:hover
		background: #ddd

		

/* CHECKBOX STYLINGS */
.catalog-filters
	width: 230px
	flex-basis: 230px
	flex-shrink: 0



.checkbox-filters .checkbox-wrap:last-child
	margin-top: 21px

.checkbox-trigger
	display: inline-block
	cursor: pointer
	position: relative
	padding-left: 25px
	margin-right: 15px
	font-size: 14px
	color: #666666
	letter-spacing: 0.6px
	  
	-webkit-user-select: none
	-moz-user-select:    none
	-ms-user-select:     none

.checkbox-trigger:before
	content: ""
	display: inline-block
	width: 16px
	height: 16px
	margin-right: 9px
	position: absolute
	left: 0
	bottom: 1px
	border: 1px solid #666
	border-radius: 3px

.checkbox:checked + .checkbox-trigger:before
	content: "\2713"
	font-size: 15px
	color: #666
	text-align: center
	line-height: 15px
.checkbox
	display: none
/* CHECKBOX STYLINGS END */

/* DROPDOWN FILTERS */
.dropdown-filter
	display: flex
	flex-direction: column
	margin-top: 38px

.filter-content
	height: 330px
.filter-name-wrap
	padding-right: 15px
	border-bottom: 1px solid #444
	margin-bottom: 20px
	position: relative
	cursor: pointer
	&:after
		content: ''
		display: block
		width: 15px
		height: 15px
		background: url(../img/sublist_arrow.svg)
		transform: rotate(-90deg)
		position: absolute
		bottom: 2px
		right: 1px
		transition: all .4s

		
	&.filter-open:after
		transform: rotate(-270deg)
.filter-name
	font-family: $fontm
	font-size: 20px
	line-height: 1.2
	color: #333

.filter-search input
	font-size: 12px
	border: solid 1px #a0a0a0
	padding: 9px
	width: 100%
	outline: none

.filter-content
	margin: 25px 0 0 0
	padding: 0 0 0 5px
	font-size: 14px
	color: #333
	letter-spacing: 0.7px
	line-height: 24px

	.mCSB_scrollTools
		width: 5px


/* DROPDOWN FILTERS END */

/* FILTERS END */

.cat-content-wrap
	flex-grow: 1
	padding-left: 47px

.pagination
	list-style: none
	font-size: 16px
	display: flex
	justify-content: flex-end
	margin: 0
	padding: 0

	li
		margin-left: 10px

	a
		color: #666
		text-decoration: none

.cat-content
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	margin: 0 -30px 50px -30px
.cat-product
	width: 180px
	max-width: 180px
	text-align: center
	flex-basis: 180px
	margin: 0 30px
	
	img
		max-width: 100%
		height: auto
	a
		outline: none
		text-decoration: none
		color: #010101
		display: flex
		flex-direction: column
		height: 100%
.cat-product-img-wrap
	height: 210px
	width: 100%
	display: flex
	justify-content: center
	align-items: center

	img
		max-height: 210px
		max-width: 100%
.cat-product-info
	margin-bottom: 15px
	flex-grow: 1
.cat-product-name
	font-family: $fontm
	font-size: 18px
	color: #333
	margin-top: 30px
	margin-bottom: 13px
.cat-product-description
	font-size: 14px
.cat-product-price
	font-family: $fontm
	font-size: 22px
	color: #5894ab
.cat-buy-btn
	margin-top: 14px
	width: 100%
/* FIRST SCREEN END */

/* CATALOG END */

/* CONTACT PAGE */
.contact
	margin-top: 16px

	p
		margin: 22px 0
		font-size: 20px

	.city
		font-family: $fontm
		font-size: 24px
		font-weight: 500
		letter-spacing: 1.2px
		color: #333

	.phones span
		vertical-align: top

	.phones span:last-child
		display: inline-block
		text-align: center

		a
			display: block
			text-decoration: none
			outline: none
			color: #333
.map-wrap
	height: 80vh
/* CONTACT PAGE END */

/* ARTICLES PAGE */
.articles-list
	display: flex
	flex-wrap: wrap
	flex-direction: row
	justify-content: space-between
	width: 100%
	margin: 0 -2.6%

	.article
		width: 28%
		margin: 50px 2.6% 0 2.6%
	img
		max-width: 100%
	a
		text-decoration: none
		outline: none

.article-name
	font-size: 24px
	letter-spacing: 1.2px
	color: #333
	margin: 15px 0
.article-description
	font-size: 14px
	letter-spacing: 0.7px
	color: #555
	line-height: 1.5
.article-date
	font-size: 12px
	color: #777
	margin-top: 20px
/* ARTICLES PAGE END*/

/* CART POPUP */
#cart-popup
	position: relative
	background: #FFF
	padding: 55px 0 30px 0
	width:auto
	max-width: 700px
	margin: 20px auto

	.mfp-close
		font-size: 45px
	hr
		border-top: 1px solid #131313
		margin: 0

	.ms2_total_cost
		float: right
.cart-name
	display: block
	width: 100%
	font-size: 24px
	letter-spacing: 1.2px
	color: #000
	text-align: center


.cart-list
	width: 100%
	padding: 0 40px
	a
		text-decoration: none
		outline: none
		color: #333
	img
		max-width: 100%
.cart-item-info-wrap
	flex-grow: 1
	display: flex
	flex-direction: column
.cart-item
	width: 100%
	display: flex
	margin-bottom: 35px

	.img-wrap
		width: 125px
		height: 190px
		margin-right: 55px

	.name
		margin: 18px 0

		span
			display: inline-block
			float: right
			margin-left: 30px
	.description
		font-size: 16px
		color: #555
		width: 65%
.changeCount
	display: flex


.minus,
.plus,
.cart_remove
	display: block
	padding: 0
	margin: 0
	color: #333
	background: none
	cursor: pointer

.minus,
.plus
	border: 2px solid #222
	font-size: 18px
	width: 25px
.cartItemCount
	display: block
	-webkit-appearance: none
	-moz-appearance:    none
	appearance:         none
	width: 45px
	border: none
	text-align: center
	padding: 0
	outline: none
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none

.cart-item-controls
	display: flex
	margin-top: auto

.cart_remove
	width: 25px
	height: 25px
	position: relative
	margin-left: 40px
.cross
	position: absolute
	transform: rotate(45deg)
	bottom: 45%
	
.cross,
.cross:before
		display: block
		width: 100%
		background: #000
		height: 2px
.cross:before
		content: ''
		transform: rotate(-90deg)
.cart-info
	padding: 25px 40px 0 40px
.goToOrder-wrap
	text-align: center
/* CART POPUP END*/

@import "media";